nav .container {
    display:grid;
    place-items: center;
}
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: hsl(0, 0%, 100%);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  

  header .accordion-menu {
    min-height: 30.882800608828006vh;
    width: 80.42606149341142vw;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 40px;
    text-align: center;
    background-color: var(--White);
    line-height: 30px;
    font-family: var(--ubuntu);
    visibility: hidden;
    padding: 20px 0;
    
  }

  header .accordion-menu ul {
    margin: 0 10px 5px 10px;
  }

  header .accordion-menu ul{
    color: hsl(240, 10%, 16%);
  }

  header .accordion-menu ul i.fas {
    font-size: 15px;
    color: var(--Very-lightred);
  }

  header .accordion-menu ul .accordion-product-links a {
    text-decoration: none;
    font-size: 14px;
    color: hsl(240, 8%, 21%);
  }

  header .accordion-menu ul .accordion-company-links a{
    text-decoration: none;
    font-size: 14px;
    color: hsl(240, 8%, 21%);
  }

  header .accordion-menu ul .accordion-connect-links a{
    text-decoration: none;
    font-size: 14px;
    color: hsl(240, 8%, 21%);
  }

  header .accordion-menu .accor-btns {
    display: grid;
    justify-content: center;
    height: 12.937595129375952vh;
    margin: 5 10px 0 10px;
  }

  header .accordion-menu .accor-btns button{
        height: 5.5vh;
        width: 30vw;
        border-radius: 25px;
        border: none;
        font-family: var(--overpass);
        font-weight: bold;
        font-size: 0.70rem;
        border: 1px solid white;
        background-color: white;
  }

  header .accordion-menu .accor-btns button:hover {
    background-color:  var(--Very-lightred);
    color: white;
  }

  header div.accordion-menu ul ul.accordion-product-links {
    display: none;
    background-color: hsl(240, 1%, 86%);
  }
  header div.accordion-menu ul ul.accordion-company-links {
    display: none;
    background-color: hsl(240, 1%, 86%);
  }
  header div.accordion-menu ul ul.accordion-connect-links {
    display: none;
    background-color: -hsl(240, 1%, 86%);
  }

  


