@media only screen and (min-width: 600px) {
    main .container {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 670px 212px 750px 390px;
        grid-template-areas:
            "sec1"
            "sec2"
            "sec3"
            "sec4";
    }
    /* HEADER */
header {
    height: 70.10350076103501vh;
    width: 100%;
    margin: 0;
    background-image: url(../images/bg-pattern-intro.svg), linear-gradient(244deg, hsl(353, 100%, 62%, 0.5), hsl(13, 62%, 62%, 0.9));
    background-position: center;
    background-size: 2300px;
    background-repeat: no-repeat;
    border-radius: 0 0 0 100px;
}

header nav {
    
    height: 14.220700152207002vh;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-areas: "logo nav-links btns";
    font-family: var(--overpass);
}

header nav .logo {
    
    display: grid;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

header nav .nav-links {
    
    display: grid;
    grid-template-columns: 29% 30% 30%;
    grid-template-areas: "product company connect";
    align-items: center;
    color: white;
    font-size: 0.75rem;
}

header nav .nav-links:hover {
    cursor: pointer;
}

.nav-links ul {
    margin-top: 10.654490106544902vh;
    min-height: 5.831050228310502vh;
    min-width: 5.980966325036603vw;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    background-color: var(--White);

}

.nav-links .product-links {
    
    left: 27.452415812591507vw;
    visibility: hidden;
}

.nav-links .company-links {
    
    left: 37.33528550512445vw;
    visibility: hidden;
}

.nav-links .connect-links {
    
    left: 46.48609077598829vw;
    visibility: hidden;
}

.nav-links .fas {
    font-size: 9px;
    font-weight: 500;
    margin-left: 5px;
    transition: 0.4s;
}

.nav-links li {
    height: 19px;
    width: 90px;
    margin: 3px;
}

.nav-links ul li a {
    text-decoration: none;
}

.nav-links li a:hover {
    border-bottom: 1px solid black;
}

header nav .btns {
    visibility: visible;
    
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.btns button {
    height: 4.5vh;
    width: 10vw;
    border-radius: 25px;
    border: none;
    font-family: var(--overpass);
    font-weight: 300;
    font-size: 0.70rem;
    border: 1px solid white;
    background-color: unset;
    color: white;
    cursor: pointer;
}

.btns button:hover {
    background-color: var(--White);
    color: var(--Light-red);
    font-weight: bold;
}

header .header-content {
    display: grid;
    
    height: 70%;
    width: 80%;
    margin: auto;
    place-items: center;
    font-family: var(--ubuntu);
}

.header-content .header-content-items {
    
    height: 70%;
    width: 80%;
    place-items: center;
    display: grid;
}

.header-content-items h1 {
    font-size: 1.6rem;
    color: white;
    font-weight: 300;
}

.header-content-items p {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 2.4px;
    color: white;
}

.header-content-btns {
    display: flex;

}

.header-content-btns button {
    height: 6vh;
    width: 15vw;
    border-radius: 25px;
    margin-left: 0.36603221083455345vw;
    margin-right: 0.36603221083455345vw;
    border: 1px solid white;
    background-color: unset;
    font-size: 0.70rem;
    color: white;
    cursor: pointer;
}

.header-content-btns button:hover {
    background-color: var(--White);
    color: var(--Light-red);
    font-weight: bold;
}

    /* HEADER */

        /*section1*/
main .container .section1 {
    height: 76.103501vh;
    grid-area: sec1;
    padding: 30px 112px;
    font-family: var(--overpass);
    color: var(--Very-dark-black-blue);
    background-image: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: 27.5vw -6vh;
    text-align: center;
}

main .container .section1 .section1_content1{
    height: 7.610350076103501vh;
    display: grid;
    justify-content: center;
    font-size: .8rem;
}

main .container .section1 .section1_content2{
    height: 100%;
    display: grid;
    line-height: 15px;
    font-size: 12px;
}

main .container .section1 .sec1_content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 10% 50%;
    grid-template-areas: 
    "--"
    "section1_content1"
    "section1_content2";
}

/*section1*/

/*section2*/
main .container .section2 {
    height: 13.83105vh;
    grid-area: sec2;
    border: 1px solid black;
    text-align: start;
    display: grid;
    padding: 50px;
    font-size: 11px;
    color: white;
    text-align: start;
    font-family: var(--overpass);
    background-image: url(../images/bg-pattern-circles.svg), linear-gradient(40deg, #3f4164, #2c2d3f);
    background-size: 696px;
    background-repeat: no-repeat;
    background-position: -93px -396px, center;
    border-radius: 0 100px 0 100px;
}

main .container .section2 .sec2_content {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "section2_content1 section2_content2";
}

main .container .section2 .sec2_content .section2_content1 img {
    height: 35.0182vh;
    width: 42.0182vw;
    grid-area: section2_content1;
    position: absolute;
    z-index: 1;
    top: 155.414vh;
    left: 6.392387vw;
}

main .container .section2 .sec2_content .section2_content2 {
    grid-area: section2_content2;
    text-align: start;
}

/*section2*/
/*section3*/
main .container .section3 {
    grid-area: sec3;
    
    font-family: var(--overpass);
    color: var(--Very-dark-black-blue);
    padding: 72px 100px;
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-size: 590px;
    background-position: center -9.48965vh;
    text-align: center;
}
   
main .container .section3 .sec3_content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas:
    "--" 
    "section3_content1"
    "section3_content2";
}

main .container .section3 .sec3_content .section3_content1 {
    grid-area: section3_content1;
}
main .container .section3 .sec3_content .section3_content2 {
    grid-area: section3_content2;
}
    
    

/*section3*/
/*section4*/
main .container .section4 {
    grid-area: sec4;
    border: 1px solid green;
    background-color: var(--Very-dark-black-blue);
    border-radius: 0 100px 0 0;
    padding: 100px;
}

main .container .sec4_content {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "footer_logo footer_product footer_company footer_connect";
    color: white;
    font-family: var(--ubuntu);
    text-align: start;
}

.sec4_content .footer_logo{
}

.sec4_content .footer_product ul {
    
}

.sec4_content .company_product ul {
    
}

.sec4_content .connect_product ul {
    
}

/*section4*/


}

