@media only screen and (min-width: 600px) {

    /* HEADER */
header {
    height: 70.10350076103501vh;
    width: 100%;
    margin: 0;
    background-image: url(../images/bg-pattern-intro.svg), linear-gradient(244deg, hsl(353, 100%, 62%, 0.5), hsl(13, 62%, 62%, 0.9));
    background-position: center;
    background-size: 2300px;
    background-repeat: no-repeat;
    border-radius: 0 0 0 100px;
}

header nav {
    border: 1px solid white;
    height: 14.220700152207002vh;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-areas: "logo nav-links btns";
    font-family: var(--overpass);
}

header nav .logo {
    border: 1px solid green;
    display: grid;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

header nav .nav-links {
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: 29% 30% 30%;
    grid-template-areas: "product company connect";
    align-items: center;
    color: white;
    font-size: 0.75rem;
}

header nav .nav-links:hover {
    cursor: pointer;
}

.nav-links ul {
    margin-top: 10.654490106544902vh;
    min-height: 5.831050228310502vh;
    min-width: 5.980966325036603vw;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    background-color: var(--White);

}

.nav-links .product-links {
    border: 1px solid red;
    left: 27.452415812591507vw;
    visibility: hidden;
}

.nav-links .company-links {
    border: 1px solid blue;
    left: 37.33528550512445vw;
    visibility: hidden;
}

.nav-links .connect-links {
    border: 1px solid green;
    left: 46.48609077598829vw;
    visibility: hidden;
}

.nav-links .fas {
    font-size: 9px;
    font-weight: 500;
    margin-left: 5px;
    transition: 0.4s;
}

.nav-links li {
    height: 19px;
    width: 90px;
    margin: 3px;
}

.nav-links ul li a {
    text-decoration: none;
}

.nav-links li a:hover {
    border-bottom: 1px solid black;
}

header nav .btns {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.btns button {
    height: 4.5vh;
    width: 10vw;
    border-radius: 25px;
    border: none;
    font-family: var(--overpass);
    font-weight: 300;
    font-size: 0.70rem;
    border: 1px solid white;
    background-color: unset;
    color: white;
    cursor: pointer;
}

.btns button:hover {
    background-color: var(--White);
    color: var(--Light-red);
    font-weight: bold;
}

header .header-content {
    display: grid;
    border: 2px solid violet;
    height: 70%;
    width: 80%;
    margin: auto;
    place-items: center;
    font-family: var(--ubuntu);
}

.header-content .header-content-items {
    border: 2px solid black;
    height: 70%;
    width: 80%;
    place-items: center;
    display: grid;
}

.header-content-items h1 {
    font-size: 1.6rem;
    color: white;
    font-weight: 300;
}

.header-content-items p {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 2.4px;
    color: white;
}

.header-content-btns {
    display: flex;

}

.header-content-btns button {
    height: 6vh;
    width: 15vw;
    border-radius: 25px;
    margin-left: 0.36603221083455345vw;
    margin-right: 0.36603221083455345vw;
    border: 1px solid white;
    background-color: unset;
    font-size: 0.70rem;
    color: white;
    cursor: pointer;
}

.header-content-btns button:hover {
    background-color: var(--White);
    color: var(--Light-red);
    font-weight: bold;
}

    /* HEADER */
}

